@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* explain later */
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* nav styles */

nav {
  background-color: #ee5335;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* row-gap: 20px;
    column-gap: 20px; */
}
#top-nav h3,
#top-nav .links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  padding: 25px;
  border-bottom: 5px solid transparent;
}

#top-nav .links a:hover {
  border-bottom: 5px solid white;
}

/* hero section */

#hero {
  height: 500px;
  /* background-color: black; */
  background-image: url("../images/bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

/* media queries */

@media screen and (max-width: 850px) {
  #top-nav {
    flex-direction: column;
  }
  .links {
    flex-wrap: wrap;
  }
  .links a {
    flex: 1;
  }
}
